/* Add or adjust styles as needed */

/* Style the about section */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
.about {
    text-align: center;
    padding: 100px 0;
    background-color: #f0f0f0;
}

.about h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 1.5;
}

header {
    background-color: #163522;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Style the footer (reuse styles from the homepage) */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
