/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Apply a background color and set font styles */
body {
    font-family: Arial, sans-serif;
    background-color: #099152cb;
}

/* Style the header and navigation menu */
header {
    background-color: #163522;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Style the hero section */
.hero {
    position: relative;
    background-image: url('./images/home-page-cover-2.jpg');
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    color: #fff;
    height: 600px;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.btn-primary {
    position: absolute;
    display: inline-block;
    right: 10vw;
    bottom: 10vh;
    
    padding: 10px 20px;
    background-color: #48d176;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #058f48;
}

/* Style the featured section */
.featured {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    background-color: #fff;
}

.feature {
    text-align: center;
    padding: 20px;
}

.feature img {
    max-width: 100%;
    height: 300px;
    margin-bottom: 20px;
}

.feature h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.feature p {
    font-size: 1rem;
}

/* Style the footer */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
